div(style='margin-top:100px')
div.panel.panel-default.col-md-4.col-md-offset-4
	div.panel-body
		h1
			span.glyphicon.glyphicon-user
			span  Who are you?
		div.form-group
			input.form-control(type='text', pattern='[a-zA-Z0-9]+', placeholder='Choose username')#username
		div.form-group
			button.btn.btn-default#btn-user
				span.glyphicon.glyphicon-log-in
				span  Login